/* --------display---------------------------------------------------------------------- */
.display-section {
  width: 355px;
  height: 360px;
  background-color: var(--Very-dark-cyan);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* -----Tip amount------------------------------------------------------------------------- */

.tip-amount-block {
  margin-top: 40px;
  height: 100px;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
}

.amount--text {
  display: flex;
  flex-direction: column;
}
.tip-amount-title {
  height: 20px;
  color: var(--White);
}
.tip-amount-text {
  color: var(--Dark-grayish-cyan);
}

.amount-digit {
  position: relative;
  top: 10px;
  font-size: 40px;
  color: var(--Strong-cyan);
}

/* -----Total------------------------------------------------------------------------- */

.total-block {
  height: 100px;
  flex: 1 0 auto;
  height: 100px;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
}

.total--text {
  display: flex;
  flex-direction: column;
}
.total-amount-title {
  height: 20px;
  color: var(--White);
}
.total-amount-text {
  color: var(--Dark-grayish-cyan);
}
.total-digit {
  position: relative;
  top: 10px;
  font-size: 40px;
  color: var(--Strong-cyan);
}

/* --------Reset---------------------------------------------------------------------- */

.reset {
  background-color: #13686c;
  height: 40px;
  border-radius: 5px;
  color: var(--Very-dark-cyan);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}

.reset:hover {
  background-color: #a0e8df;
  color: var(--Very-dark-cyan);
}
